@page
@model CS436_Act.Pages.Siam.IndexSiamModel
@{
}
<a class="btn btn-primary btn-sm" href="/Siam/CreateSiam">New items</a>
<table class="table">
    <thread>
        <tr>
            <th>Item ID</th>
            <th>Item</th>
            <th>Store ID</th>
            <th>Supplier</th>
            <th>Amount</th>
            <th>Created AT</th>
            <th>Action</th>
        </tr>
    </thread>
    <tbody>
        @foreach (var item in Model.listStocks)
        {
            <tr>
                <td>@item.itemid</td>
                <td>@item.item</td>
                <td>@item.storeid</td>
                <td>@item.supplier</td>
                <td>@item.amount</td>
                <td>@item.create_at</td>
                <td>
                    <a class="btn btn-primary btn-sm" href="/Siam/EditSiam?itemid=@item.itemid">Edit</a>
                    <a class="btn btn-danger btn-sm" href="/Siam/DeleteSiam?itemid=@item.itemid">Delete</a>
                </td>
            </tr>
        }
    </tbody>
</table>